<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	
	<connectionStrings>
		<!--<add name="PSPContext" connectionString="Data Source=.;User ID=sa;Password=123;Initial Catalog=PSP;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="PSPContext" connectionString="Data Source=.;User ID=sa;Password=123;Initial Catalog=PSP_Test;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="PSPContext" connectionString="Data Source=.\MSSQL17;User ID=sa;Password=SJA;Persist Security Info=True;Initial Catalog=pspNew;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="PSPContext" connectionString="Data Source=DESKTOP-OON8867\SQL2017;User ID=sa;Password=1qazzaq1;Persist Security Info=True;Initial Catalog=pspNew;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
		<!--<add name="PSPContext" connectionString="Data Source=172.29.30.17;User ID=sa;Password=SnoopyTrader-99;Persist Security Info=True;Initial Catalog=psp;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<add name="PSPContext" connectionString="Data Source=172.29.30.12;User ID=sa;Password=Admin@2022;Persist Security Info=True;Initial Catalog=psp;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="AppCode" value="PSPMNG" />
		<add key="AppCodeNG" value="PSPManagement" />
		<add key="LogPath" value="D:\Log.txt" />
		<add key="FileAnswersPath" value="D:\" />
		<add key="OperationBrowse" value="browse" />
		<add key="MultiAnswerQuestionTypeId" value="1" />
		<add key="TerminalManagementStatusFilterByUser" value="7" />
		<add key="InstalledInPlaceStatusGroup" value="1" />
		<add key="CampaignQuestionMaximumUploadedFileSize" value="256000" />
		<add key="CampaignQuestionMinimumUploadedFileSize" value="1024" />
		<add key="TransferableTerminalsGroupStatus" value="3" />
		<add key="TransferableTerminalShouldHaveAssetGroupStatus" value="4" />
		<add key="TerminalsWorkflowTimelineSpecialStatusGroupIdentity" value="5" />
		<add key="MerchantTownshipId" value="117" />
		<add key="TestServerIp" value="http://10.187.110.4:717" />
		<add key="TerminalDeviceSwitchCommandName" value="TerminalDeviceSwitcher" />
		<add key="SendResourceCommandName" value="SendResources" />
		<add key="TerminalsDeviceChangeAllowdedStatus" value="6" />

		<add key="AAARestUrl" value="http://172.29.30.12:8081/CitySSAAAServer.svc/rest/" />
		<!--<add key="AAARestUrl" value="http://ctssaaaserver.shahrtech.com/CitySSAAAServer.svc/rest/" />-->

		<!--<add key="CityPayUrl" value="https://edgetest.shatoot.cloud/"/>
			<add key="CityPayUserName" value="ACQ00-Rahbord"/>
			<add key="CityPayUserPassword" value="73F1335940BDDC8BC782EDFE2855E6CA"/>-->
		<add key="CityPayUrl" value="https://edge123.shatoot.cloud/" />
		<add key="CityPayUserName" value="ACQ00-Rahbord" />
		<add key="CityPayUserPassword" value="AFFDF1B0A92F96AD1875A2F7E94B230A" />
		<!-- ============== by jalal ============================ -->
		<add key="BaseWarehouseId" value="7" />
		<!-- ============== by jalal ============================ -->
		<add key="AsanPardakhtUrl" value="https://91.232.66.44:7010/tds/rest/merchant/register/" />
		<add key="AsanPardakhtUserId" value="10872" />
		<add key="AsanPardakhtPassword" value="Af@4205" />
		<add key="IrankishUrl" value="" />
		<add key="IrankishUserId" value="shahr" />
		<add key="IrankishPassword" value="Bti@81914&amp;def" />
		<add key="BehPardakhthUrl" value="http://bos.bpm.bankmellat.ir/bhrws" />
		<add key="BehPardakhthUserId" value="B.shahrAcq" />
		<add key="BehPardakhthPassword" value="81698507" />
		<add key="ExcelRowCount" value="40000" />
		<add key="ExcelRowCountlong" value="20000" />
		<add key="BankCustomerInfoApi_Token" value="http://software.citybank.iri:1100/connect/token" />
		<!--<add key="BankCustomerInfoApi" value="http://10.211.7.146/api/customerservice/api/v1/CustomerInfo/" />-->
		<add key="BankCustomerInfoApi" value="http://192.168.21.46/api/customerservice/api/v1/CustomerInfo/" />
		<add key="BankCustomerInfoApi_Username" value="92d8fb28-3b81-4bd3-bbca-99e0537d4f9f" />
		<add key="BankCustomerInfoApi_Password" value="044630a7-4302-7dc0-ebad-bb72171090a0" />
		<add key="BankCustomerInfoApi_Scope" value="CustomerDetailScope" />
		<add key="BankCustomerInfoApi_UserPassBase64" value="OTJkOGZiMjgtM2I4MS00YmQzLWJiY2EtOTllMDUzN2Q0ZjlmOjA0NDYzMGE3LTQzMDItN2RjMC1lYmFkLWJiNzIxNzEwOTBhMA==" />
		<add key="BankCustomerInfoApiIsTest" value="false" />
		<add key="TicketUrl" value="http://gcc.citybank.iri/GPTicketing/ws/wservice" />
		<add key="TicketUserId" value="pos001" />
		<add key="TicketPassword" value="123456" />
		<add key="IpgDefaultMarketerProject" value="1" />
		<add key="MobileTicketType" value="1" />
	</appSettings>
	
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
		  <system.Web>
			<httpRuntime targetFramework="4.5.2" />
		  </system.Web>
	  -->
	
	<system.web>
		<httpRuntime executionTimeout="600" maxRequestLength="5000" />
		<customErrors mode="RemoteOnly" defaultRedirect="~/Account/Login" />
		<compilation debug="true" targetFramework="4.5.2" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Web.Optimization" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="CustomRoleProvider" enabled="true" cacheRolesInCookie="false">
			<providers>
				<clear />
				<add name="CustomRoleProvider" type="PSP.Web.NewUI.Extention.CustomRoleProvider" />
			</providers>
		</roleManager>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider" timeout="60">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
	</system.web>
	
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	
	<!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDefineMerchants">
          <security mode="TransportWithMessageCredential"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://mms.irankish.com/Services/DefineMerchant" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IDefineMerchants" 
                contract="define.IDefineMerchants" name="BasicHttpBinding_IDefineMerchants"/>
    </client>
  </system.serviceModel>-->
	
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IDefineMerchants" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
					<security mode="TransportWithMessageCredential" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://mms.irankish.com/Services/DefineMerchant" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDefineMerchants" contract="define.IDefineMerchants" name="BasicHttpBinding_IDefineMerchants" />
		</client>
	</system.serviceModel>
	
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="d:\Traces.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<file value="logs\" />
			<datePattern value="yyyy.MM.dd'.log'" />
			<appendToFile value="true" />
			<encoding value="utf-8" />
			<rollingStyle value="Composite" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="200MB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] %-5p %c %m%n" />
			</layout>
		</appender>
	</log4net>
	
</configuration>