<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="AppCodeNG" value="20"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ECMSServiceBehavior">
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="100" maxConcurrentInstances="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MerchantServiceSoap"/>
        <binding name="AAAServerSoap11Binding" receiveTimeout="00:20:00" sendTimeout="00:20:00" allowCookies="true" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true"/>
        <binding name="AAAServerSoap11Binding1"/>
        <binding name="AASystemSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="AAAServerSoap12Binding">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://10.187.109.8/Service%20References/MerchantService.asmx" binding="basicHttpBinding" bindingConfiguration="MerchantServiceSoap" contract="CityPayMerchantService.MerchantServiceSoap" name="MerchantServiceSoap"/>
      <endpoint address="http://10.187.109.6:8280/services/AAAServer.AAAServerHttpSoap11Endpoint" binding="basicHttpBinding" bindingConfiguration="AAAServerSoap11Binding1" contract="PSPAAAService.AAAServerPortType" name="AAAServerHttpSoap11Endpoint"/>
      
      <endpoint address="http://10.187.109.8/aaSystem.asmx" binding="basicHttpBinding" bindingConfiguration="AASystemSoap" contract="AASecurity.AASystemSoap" name="AASystemSoap"/>
      
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
